// ---- ---- media ---- ---- //

@media (max-width: 975px) {
  .creators__text {
    font-size: 16px;
  }
}
@media (max-width: 850px) {
  .header {
    &__inner {
      flex-direction: column;
      gap: 20px;
    }
    &__get-link {
      display: block;
      margin-left: auto;
    }
    .menu {
      margin-left: auto;
    }
  }
  .section__box {
    padding-left: 0;
    padding-right: 0;
  }
  .creators__inner {
    padding: 0;
  }
  .footer__wrap {
    padding-left: 0;
    padding-right: 0;
    gap: 10px;
  }
}

@media (max-width: 757px) {
  .footer__policy-box {
    padding: 0;
  }
}
@media (max-width: 670px) {
  .section__box {
    flex-direction: column;
    align-items: normal;
    gap: 20px;
  }
  .connected__content {
    order: -1;
    margin-left: auto;
  }
  .technology__content {
    order: -1;
    margin-left: auto;
  }
  .creators__card {
    padding: 10px;
  }
  .footer__policy-box {
    flex-direction: column;
    gap: 10px;
  }
  .footer__policy-text {
    padding-right: 0;
  }
  .footer__policy-list {
    flex-wrap: wrap;
  }
  .footer__wrap--web {
    display: none;
  }
  .footer__wrap--mobile {
    display: flex;
    flex-direction: column;
  }
}
@media (max-width: 550px) {
  .maketforfigma p {
    line-height: 1.2;
  }
  .header {
    &__inner {
      padding: 20px 0;
    }
    .menu {
      &__list {
        flex-wrap: wrap;
      }
    }
  }
  .title {
    &__h1 {
      font-size: 50px;
    }
  }
  .hero__text {
    font-size: 16px;
    text-shadow: 1px 2px 2px $color_bgdark;
  }
  .hero__btn {
    margin-bottom: 50px;
  }
  .section__text {
    font-size: 24px;
  }
}

@media (max-width: 490px) {
  .creators__box {
    flex-direction: column;
  }
  .creators__card {
    padding: 32px;
  }
  .creators__img {
    width: auto;
  }
}
