// ---- ---- fonts ---- ---- //
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
// ---- ---- reset ---- ---- //
@import 'animate.min.scss';
@import 'normalize.scss';
@import 'myreset.scss';
@import 'base.scss';
@import 'global.scss';

// ---- ---- main ---- ---- //
// ---- ---- header ---- ---- //
.header {
  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 18px 23px 20px 20px;
  }
  &__login-btn {
    line-height: 1.25;
    color: $color_t_accent;
    text-align: center;
    &:hover {
      text-decoration: underline;
    }
    &--sing {
      color: $color_bgdark;
      background-color: $color_light;
      border-radius: 32px;
      padding: 8px 21px;
      margin-left: 20px;
      &:hover {
        background-color: $color_accent;
        color: $color_light;
      }
    }
  }
  &__get {
    background-color: $color_accent;
    padding: 11px;
    text-align: center;
  }
  &__get-text {
    line-height: 1.5;
  }
  &__get-link {
    margin-left: 40px;
    &:hover {
      text-decoration: underline;
    }
  }
}
// ---- ---- hero ---- ---- //
.hero {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
  padding-top: 140px;
  &__title {
    max-width: 500px;
    margin-bottom: 26px;
  }
  &__text {
    max-width: 450px;
    font-size: 20px;
    font-weight: 400;
    line-height: 1.2;
    margin-bottom: 44px;
  }
  &__btn {
    padding: 16px 32px;
    margin-bottom: 150px;
    &:hover {
      text-decoration: underline;
    }
  }
  &__more-box {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  &__more-link {
    span {
      display: flex;
      margin-bottom: 17px;
    }
  }
  &__more-img {
    margin-bottom: 15px;
  }
}
// ---- ---- sound ---- ---- //
.sound {
  &__content {
    max-width: 430px;
  }
  &__title {
    margin-bottom: 5px;
  }
  &__text {
    margin-bottom: 12px;
  }
  &__subtext {
    max-width: 400px;
    margin-bottom: 23px;
  }
}
// ---- ---- connected ---- ---- //
.connected {
  text-align: right;
  &__content {
    max-width: 430px;
  }
  &__title {
    margin-bottom: 5px;
  }
  &__text {
    margin-bottom: 12px;
  }
  &__subtext {
    max-width: 400px;
    margin-bottom: 23px;
  }
}
// ---- ---- gear ---- ---- //
.gear {
  &__content {
    max-width: 400px;
  }
  &__title {
    margin-bottom: 5px;
  }
  &__text {
    margin-bottom: 12px;
  }
  &__subtext {
    max-width: 400px;
    margin-bottom: 23px;
  }
}
// ---- ---- technology ---- ---- //
.technology {
  text-align: right;
  &__content {
    max-width: 430px;
  }
  &__title {
    margin-bottom: 5px;
  }
  &__text {
    margin-bottom: 12px;
  }
  &__subtext {
    max-width: 420px;
    margin-bottom: 23px;
  }
}
// ---- ---- creators ---- ---- //
.creators {
  padding: 120px 0;
  &__inner {
    padding: 0 48px;
  }
  &__text-title {
    font-size: 28px;
    font-weight: 400;
    line-height: 1.3;
    margin-bottom: 24px;
  }
  &__box {
    display: flex;
    gap: 10px;
  }
  &__card {
    background-color: $color_bglight;
    border-radius: 8px;
    padding: 32px;
    text-align: center;
  }
  &__img {
    margin-bottom: 30px;
  }
  &__text {
    text-align: left;
    font-size: 20px;
    font-weight: 400;
    line-height: 1.25;
    letter-spacing: 0.3px;
    color: $color_t_dark;
    margin-bottom: 16px;
  }
  &__name {
    font-size: 14px;
    font-weight: 400;
    line-height: 1.43;
    color: $color_t_light;
    text-align: left;
  }
}
// ---- ---- try ---- ---- //
.try {
  min-height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  &__text {
    font-size: 54px;
    font-weight: 400;
    line-height: 1.11;
    margin-bottom: 57px;
  }
  &__btn {
    padding: 10px 25px;
  }
}
// ---- ---- footer ---- ---- //
.footer {
  padding-top: 48px;
  padding-bottom: 60px;
  border-bottom: 2px solid $color_light;
  color: $color_t_accent;
  &__wrap {
    display: flex;
    justify-content: space-between;
    padding: 0 48px;
    margin-bottom: 50px;
    gap: 0 20px;
  }
  &__box {
  }
  &__list {
    margin-bottom: 24px;
  }
  &__item {
    max-width: 153px;
  }
  &__item-title {
    font-size: 20px;
    font-weight: 400;
    line-height: 1.2;
    color: $color_light;
    margin-bottom: 12px;
  }
  &__link {
    display: inline-block;
    font-size: 12px;
    font-weight: 400;
    line-height: 1.5;
    margin-bottom: 11px;
    &:hover {
      text-decoration: underline;
    }
  }
  &__policy-box {
    display: flex;
    align-items: center;
    font-size: 12px;
    font-weight: 400;
    line-height: 1.5;
    padding: 0 48px;
  }
  &__policy-text {
    padding-right: 45px;
  }
  &__policy-list {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
  }
  &__policy-link {
    &:hover {
      text-decoration: underline;
    }
  }
}
// ---- ---- media ---- ---- //
@import 'media.scss';
